.header {
  height: $header-height;
  padding: 0 2rem;
  background-color: $background-color;
  border-bottom: 1px solid rgba($secondary-color, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: $primary-color;
    font-size: 1.5rem;

    @include responsive(mobile) {
      font-size: 1.25rem;
    }
  }

  button.menu-toggle {
    display: none;
    background: $background-color;
    color: $text-color;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;

    @include responsive(mobile) {
      display: block;
    }
  }
}