// Variables de colores
$primary-color: #000;
$secondary-color: #14213d;
$accent-color: #fca311;

$background-color: #f5f5f5;
$text-color: #333;
$success-color: #28a745;
$warning-color: #ffc107;
$danger-color: #dc3545;

// Variables del tema
:root {
  --background: #ffffff;
  --foreground: #171717;
}

// Variables de diseño
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono:
    ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
    'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

// Variables de dimensiones del layout
$header-height: 60px;
$sidebar-width: 300px;
$sidebar-width-tablet: 250px;

// Variables del sistema
$background-color: var(--background);
$text-color: var(--foreground);
